<ion-header>
  <ion-toolbar>
    <ion-title>Caixa de entrada</ion-title>
    <ion-buttons color="primary" slot="primary">
        <ion-button (click)="presentToast()">
          <ion-icon  name="construct"></ion-icon>
        </ion-button>  
    </ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-avatar slot="start">
          <img src="../assets/icon/tancredo.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Tancredo neves</h2>
          <h3>São Paulo</h3>
          <p>Republica do Brasil</p>
        </ion-label>
      </ion-item>
      <ion-item>
          <ion-avatar slot="start">
              <img src="../assets/icon/Covas.jpg">
          </ion-avatar>
          <ion-label>
            <h2>Mario Covas</h2>
            <h3>São Paulo</h3>
            <p>Partido Tucano</p>
          </ion-label>
        </ion-item>
        <ion-item>
            <ion-avatar slot="start">
                <img src="../assets/icon/eneas.jpg">
            </ion-avatar>
            <ion-label>
              <h2>Enéas</h2>
              <h3>Belo Horizonte</h3>
              <p>Republicano</p>
            </ion-label>
          </ion-item>

</ion-content>
