<ion-header>
  <ion-toolbar>
    <ion-title>subjective</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-item>
    <ion-label>Para:</ion-label>
    <ion-input type="text" [(ngModel)]="para"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>CC/CCO:</ion-label>
    <ion-input type="text" [(ngModel)]="cc"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Assunto:</ion-label>
    <ion-input type="text" [(ngModel)]="assunto"></ion-input>
  </ion-item>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-item class="lado">
      <ion-button (click)="verificar()" color="primary">
        <ion-icon name="send"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-toolbar>
</ion-footer>
